{% extends "blog/base.html" %}
{% block content %}
	<article class="media content-section">
		<img class="rounded-circle account-img" src="{{ object.author.profile.image.url }}">
		<div class="media-body">
			<div class="article-metadata">
				<a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ object.author }}</a>
				<small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
				<span id="text-right" class="text-muted">{{ object.category }}</span>
			</div>
			<h2 class="article-title">{{ object.title }}</h2>
			<p class="article-content">{{ object.content }}</p>
			{% if post.picture.url is not null %}
				<img src="{{ post.picture.url }}" alt="">
			{% endif %}
			
			 {% if user.is_authenticated and object.author == user %}
				 <div>
					 <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Edit Post</a>
					 <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
				 </div>
			 {% endif %}
		</div>

	</article>
	<div class="container">
		{% if user.is_authenticated %}
		<hr>
		<a class="btn btn-primary btn-comment" href="{% url 'comment-create' pk=post.pk %}">Add comment</a>
		<hr>
		{% endif %}

	</div>

		{% for comment in post.comments.all %}
			<article class="media content-section">
				<img class="rounded-circle brand-logo" src="{{ comment.author.profile.image.url }}">
				<div class="media-body">
					<div class="article-metadata">
						<a class="mr-2" href="{% url 'user-posts' comment.author.username %}"> {{ comment.author }}</a>
						<small class="text-muted">{{ comment.date_posted }}</small>
					</div>
					<p class="article-content">{{ comment.text|safe|linebreaks }}</p>
					 {% if user.is_authenticated and comment.author == user %}
						 <div>
							 <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'comment-update' comment.post.id comment.id %}">Edit</a>
							 <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'comment-delete' comment.id  %}">Delete</a>
						 </div>
					 {% endif %}
				</div>
			</article>
		{% endfor %}
{% endblock %}
